{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
// {
//   "presets": [
//     ["env", {
//       "targets": {
//         "node": "current"
//       }
//     }]
//   ]
// }