//主要色彩
$color-cr: #e53935;   //color red
$color-cb: #319df5;   //color blue
$color-co: #f59d18;   //color orange
$color-cg: #e0bf70;   //color gold

//文字色值
$font-color-t1: #222222;  
$font-color-t2: #666666;
$font-color-t3: #8f8f8f;
$font-color-t4: #bbbbbb;
$font-color-t5: #ffffff;

//背景和分割线
$line-color: #e6e6e6; //分割线
$global-bg: #f6f6f6; //全局背景色